# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
hello/makefile
hello/.DS_Store
.vscode/tasks.json
.vscode/launch.json
.vscode/settings.json
.DS_Store
*.xcuserdatad*
*.xcuserdatad*
*.pbxproj
dsa/dsa.xcodeproj/project.pbxproj
*.xcworkspace*
*.xcodeproj*
*.xcuserstate
DSA.xcworkspace/xcuserdata/codebreaker.xcuserdatad/UserInterfaceState.xcuserstate
dsa/dsa.xcodeproj/project.xcworkspace/xcuserdata/codebreaker.xcuserdatad/UserInterfaceState.xcuserstate
dsa/dsa.xcodeproj/xcuserdata/codebreaker.xcuserdatad/xcschemes/xcschememanagement.plist
dsa/dsa.xcodeproj/project.xcworkspace/xcuserdata/codebreaker.xcuserdatad/UserInterfaceState.xcuserstate
dsa/dsa.xcodeproj/project.xcworkspace/xcuserdata/codebreaker.xcuserdatad/UserInterfaceState.xcuserstate
dsa/dsa.xcodeproj/project.pbxproj
dsa/dsa.xcodeproj/project.pbxproj
/win_dev/.vs/win_dev
/win_dev/win_dev/x64/Debug
dsa/dsa.xcodeproj/project.xcworkspace/xcuserdata/codebreaker.xcuserdatad/UserInterfaceState.xcuserstate
dsa/dsa.xcodeproj/project.pbxproj
dsa/dsa.xcodeproj/project.xcworkspace/xcuserdata/codebreaker.xcuserdatad/UserInterfaceState.xcuserstate
dsa/dsa.xcodeproj/xcuserdata/codebreaker.xcuserdatad/xcschemes/xcschememanagement.plist
dsa/dsa.xcodeproj/xcuserdata/codebreaker.xcuserdatad/xcschemes/xcschememanagement.plist
*.pbxproj
*.xcuserstate
*.plist
backtracking_subsets/btss.dSYM/Contents/Resources/DWARF/btss
backtracking_subsets/btss.dSYM/Contents/Resources/Relocations/aarch64/btss.yml
dsa/dsa.xcodeproj/project.xcworkspace/xcuserdata/codebreaker.xcuserdatad/UserInterfaceState.xcuserstate
